#navbar1{

    background-color: rgb(99, 8, 99);
    text-align: center;
    
}
#button3{

    color: aliceblue;
    background-color: rgba(207, 202, 219, 0.308);
    margin-right: 10px;
}

#title{
    margin-left: 10px;
    color: white;

}

